@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: 'Roboto';
    font-weight: 400;
    color: #d1d1d1;

    background-color: #131313;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    color: white;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 700;
    font-size: 1rem;
}

h4 {
    font-weight: 400;
    font-size: 11px;
    color: #ff0c85;
    padding-top: 8px;
    line-height: 8px;
}

p {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
}

li {
    list-style: none;
}